.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache

# fuck you tpope/rails-vim
# see https://github.com/tpope/vim-rails/issues/98
config/environment.rb
